@font-face {
  font-family: "clear-sans-medium";
  src: url(./res/fonts/clear-sans/ClearSans-Medium.ttf);
}

@font-face {
  font-family: "clear-sans";
  src: url(./res/fonts/clear-sans/ClearSans-Regular.ttf);
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "clear-sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
